body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 24px;
  height: 24px;
}
.new-marker-btn img {
  width: 24px;
  height: 24px;
}
.material-icons.add{
  color: #3F51B5;
}
.material-icons.main{
  color: #7993BA;
}

.form {
  width: 280px;
  min-width:  220px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 10px 1px #3333;
  border-radius: 6px;
  height: 30px;
  /* border: 1px solid white; */
}
.input {
  flex: 3;
  padding: 0;
}
.reset {
  flex: 1;
  padding: 0;
  color: #757575;
  font-weight: 500;
  background-color: white;
}
.filter_submit {
  flex: 1;
  padding: 0;
  color: white;
  font-weight: 500;
  background-color: #757575;
}
